/* font-family: 'Cormorant Unicase', serif;
font-family: 'Cormorant Infant', serif;
font-family: 'Codystar', cursive;
font-family: 'Linden Hill', serif; */

h1{
    font-family: 'Linden Hill', serif;
}


html, body{
    height: 100%;
    text-align: center;
    flex-wrap: wrap;
    background-repeat:no-repeat;
    background-position: absolute;
    background-color: pink;
    background-size: cover;
    right: 50%;
    bottom: 50%; 
    margin: 0;
}

path {
    fill: transparent;
  }