<h2>Manage Clients and Pets</h2>

<div ng-controller="ClientController as cc">
    <table>
        <thead>
            <th>Name</th>
            <th>Number of Pets</th>
            <th>Remove</th>
        </thead>
        <tr ng-repeat = "client in cc.clientList">
            <td>{{client.name}}</td>
            <td>{{client.count}}</td>
            <td><button ng-click= "cc.deleteClient(client.id)">Delete</button></td>
        </tr>
    </table>
</div>

<br>

<div ng-controller="PetController as pc">
        <table>
            <thead>
                <th>Pet Name</th>
                <th>Owner Name</th>
                <th>Type</th>
                <th>Subtype/Breed</th>
                <th>Edit</th>
                <th>Checked-In</th>
                <th>Check-In/Check-Out</th>
                <th>Remove</th>
            </thead>
            <tr ng-repeat = "pet in pc.petList">
                <td>{{pet.name}}</td>
                <td>{{pet.owner_name}}</td>
                <td>{{pet.type}}</td>
                <td>{{pet.breed}}</td>
                <td>There will be a edit button here</td>
                <td>{{pet.checked_in}}</td>
                <td><button ng-click= "pc.checkIn(pet.id)">Check In</button></td>
                <td><button ng-click= "pc.deletePet(pet.id)">Delete</button></td>
            </tr>
            </table>
    
</div>