<h2>Manage Clients and Pets</h2>

<div ng-controller="ClientController as cc">
        <h3>Client Information</h3>
    <table>
        <thead>
            <th>Name</th>
            <th>Number of Pets</th>
            <th>Remove</th>
            <th>More Info</th>
        </thead>
        <tr ng-repeat = "client in cc.clientList | orderBy : 'name'">
            <td>{{client.name}}</td>
            <td>{{client.count}}</td>
            <td><button ng-click= "cc.deleteClient(client.name)" ng-disabled= "client.count != 0" class="deleteBTN">Delete</button></td>
            <td><button type="button" >More Info</button></td>
        </tr>
    </table>
</div>

<br>

<div ng-controller="PetController as pc" class="tableHolder">
        <h3>Pet Information</h3>
        <table>
            <thead>
                <th>Pet Name</th>
                <th>Pet ID</th>
                <th>Owner Name</th>
                <th>Type</th>
                <th>Subtype/Breed</th>
                <th>Edit</th>
                <th>Checked-In</th>
                <th>Check-In/Check-Out</th>
                <th>Remove</th>
            </thead>
            <tr ng-repeat = "pet in pc.petList | orderBy : 'name'">
                <td>{{pet.name}}</td>
                <td>{{pet.id}}</td>
                <td>{{pet.owner_name}}</td>
                <td>{{pet.type}}</td>
                <td>{{pet.breed}}</td>
                <td>There will be a edit button here</td>
                <td>{{pet.checked_in}}</td>
                <td><button class = "checkInBTN" ng-click= "pc.checkIn(pet.id)" ng-show="!pet.checked_in" data-toggle="modal" data-target="#myModal" data-who="pc.(pet.id)">Check In</button>
                    <button ng-click= "pc.checkIn(pet.id)" ng-show="pet.checked_in" data-toggle="modal" data-target="#myOutModal" data-who="pc.pet.id">Check Out</button></td>
                <td><button ng-click= "pc.deletePet(pet.id)">Delete</button></td>
            </tr>
        </table>
    
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" ng-controller="PetController as pc">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Check In</h4>
            </div>
            <div class="modal-body">
                    <form ng-submit= "pc.addCheckIn(pc.dataToAdd)">
                            <div class="row">
                              <label for="date">Date</label>
                              <input ng-model= "pc.dataToAdd.indate" class="u-full-width" type="number" id="date" placeholder="e.g. 082518"/>
                            </div>
                            <div class="row">
                              <label for="time">Time</label>
                              <input ng-model= "pc.dataToAdd.intime" class="u-full-width" type="number" id="time" placeholder="e.g. 0800"/>
                            </div>
                            <div class="row">
                                <label for= "pet_id">Pet ID</label>
                                <input ng-model= "pc.dataToAdd.pet_id" class="u-full-width" type="number" id="pet_id" ng-value={{checkInBTN.getAttribute(data-who)}}/>
                            </div>
                            <input type="submit">
                            <button type="button" class="btn-warning" data-dismiss="modal">Cancel</button>
                    </form>
            </div>
          </div>
      
        </div>
      </div>


      <div id="myOutModal" class="modal fade" role="dialog" ng-controller="PetController as pc">
            <div class="modal-dialog">
          
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Check Out</h4>
                </div>
                <div class="modal-body">
                        <form ng-submit= "pc.addCheckOut(pc.dataOutToAdd)">
                                <div class="row">
                                  <label for="date">Date</label>
                                  <input ng-model= "pc.dataOutToAdd.outDate" class="u-full-width" type="number" id="outDate" placeholder="e.g. 082518"/>
                                </div>
                                <div class="row">
                                  <label for="time">Time</label>
                                  <input ng-model= "pc.dataOutToAdd.outTime" class="u-full-width" type="number" id="outTime" placeholder="e.g. 0800"/>
                                </div>
                                <div class="row">
                                    <label for= "punch_id">Punch ID</label>
                                    <input ng-model= "pc.dataOutToAdd.punch_id" class="u-full-width" type="number" id="punch_id" placeholder="e.g. 79"/>
                                </div>
                                <input type="submit">
                                <button type="button" class="btn-warning" data-dismiss="modal">Cancel</button>
                        </form>
                </div>
              </div>
          
            </div>
          </div>
      
