<div ng-controller="GuestController as gc">
        <h2 class="view-title">Current Guests</h2>
        <div class="wrapper">
          <div ng-repeat="guest in gc.guestList" class="card">
            <img class="card-img-top" ng-src="../{{guest.image}}" alt="photograph of guest" style="height: 12rem; margin:1rem;">
            <div class="card-body">
              <h4 class="card-title">{{guest.name}}</h4>
              <p class="card-text" style="margin:1rem;"></p>{{guest.fun_fact}} </p>
            </div>
        </div>
      </div>