<div>
    <h2>New Client</h2>
    <br>
    <form>
        <label for ="clientName">Name:</label>
        <input id="clientName" type="text" placeholder="e.g. Pablo Escobar">
        <br>
        <label for ="clientPhone">Phone Number:</label>
        <input id="clientPhone" type="number" placeholder="8675309">
        <label for ="clientEmail">Email Address:</label>
        <input id="clientEmail" type="text" placeholder="ILoveHippos49@gmail.com">
        <br>
        <h4>Emergency Contact</h4>
        <label for ="emergencyContactName">Name:</label>
        <input id="emergencyContactName" type="text" placeholder="e.g. Maria Victoria Henao">
        <label for ="emergencyPhone">Phone Number:</label>
        <input id="emergencyPhone" type="number" placeholder="8675309">
    </form>
</div>
