<h2>New Pet</h2>

<form>
    <label for="owner">Select Owner:</label>
    <!-- To populate owner names, will do an ng-repeat through owners names -->
    <select id="owner" ng-model="">
        <option value="ownerName">Owner Name Will Be Here</option>
    </select>
    <label for ="petName">Pet Name:</label>
    <input id="petName" type="text" placeholder="e.g. James Earl Jones">
    <label for ="petType">Type of Pet:</label>
    <select id="petType" ng-model="">
        <option value="cat">Cat</option>
        <option value="dog">Dog</option>
        <option value="rabbit">Rabbit</option>
        <option value="pig">Pig</option>
        <option value="ferret">Ferret</option>
        <option value="llama">Llama</option>
        <option value="chicken">Chicken</option>
    </select>
    <label for="breed">Breed/Subtype:</label>
    <input id="breed" type="text" placeholder="e.g. Shih-Tzu">
    <label for="color">Color:</label>
    <input id="color" type="text" placeholder="e.g. Calico">
    <label for="funFact">Fun Fact:</label>
    <input id="funFact" type="text" placeholder="e.g. Has starred in six feature films">
    <label for="allergies">Allergies:</label>
    <input id="allergies" type="text" placeholder="e.g. Water other than Evian">
    <label for="notes">Additional Notes:</label>
    <input id="notes" type="text" placeholder="e.g. Can open gates by herself">
    

</form>